.container{
    display: flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
}
#landing-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    width: 595px;
    height:725px;
    left: 359px;
    top:165px;   
    /* margin:10vh, 10vh; */
    background-color: #1B0301;
}
/* #landing-nav > a {
    display: flex;
    justify-content: center;
    line-height: 10vh;
    font-size: 20vh;
    padding: 10vh;
}
#landing-nav > p {
    color: #ffdb00 ;
    display: flex;
    justify-content: center;
    line-height: 10vh;
    font-size: 20vh;
    padding: 10vh;
}*/
/* .test{
    display: flex;
    flex-direction: column;
    flex: shrink;
} */
.landing-pg-elem{
    font-family: 'Raleway', sans-serif;
    display: flex;
    color: #ffdb00;
    justify-content: center;
    line-height: 10px;
    font-size: 100px;
    padding: 10px;
    margin: 10% 5%;
}
.container > .menu-header {
position: absolute;
width: 404px;
height: 0px;
left: 531px;
top: 364px;
border: 4px solid #1B0301;
}
.menu-item {
    position: absolute;
    width: 1237.72px;
    height: 243.06px;
}
.menu-item > .menu-item-header {
    flex-direction: row;
    justify-content: space-between;
}
.menu-item-header > h4 {
    margin: 1px;
}
.menu-item-header > h6 {
    margin: 1px;
}
.header-title > a{
    font-family:'Permanent Marker', 'cursive';
    font-style: normal;
    font-weight: normal;
}
.fb-bar {
    flex-direction: row;
    justify-content: space-between;
}
h1 > a {
    font-family:'Permanent Marker', 'cursive';
    font-style: normal;
    font-weight: normal;
}
header {
    background-color: #1B0301;    
    display: flex;

    position: absolute;
    width: 100vw;
    height: 15vh;
    left:0vw;    
    top:0vh;
}
header > h1 {
    position: absolute;
    width :655px;
    height: 148px;
    left: 52px;
    top: -10px;

    line-height: 154px;

    text-decoration: none;
    color: #ffdb00 ;
}
a {
    text-decoration: none;
}
body {
    position: absolute;
    background-color: #ffdb00 ;
}
details summary::-web {
    text-decoration: none;
    list-style: none;
}
h2 hr {
    position: absolute;
    width: 404px;
    height: 0px;
    left: 531px;
    top: 364px;
    
    border: 4px solid #1B0301;
}
footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 10vh;
    min-width: 100vw;
    top: 936px;
    background-color: #1B0301;
}
footer > p {
    display: flex;
    flex-direction: column;
    color: #ffdb00;
    font-size: 3vh;
}